form {
	padding: 0;
	margin: 0;
}
.image-preview {
	margin: 0;
	padding: 5px;
	width: 72px;
	height: 72px;
	display: block;
}

#sell-table table {
	width: 700px;
	border-collapse: collapse;
	text-align: center;
	margin: 0;
	padding: 0;
}

#sell-table tr {
	border: none;
	border-bottom: 1px #000 solid;
}
#sell-table h1 {
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 20px;
}

#sell-table p {
	text-align: left;
	padding: 0;
	margin: 0;
}

#sell-table .tbl-top {
	vertical-align: top;
}

#sell-table .tbl-center {
	vertical-align: center;
}

.sauto { width: auto; }
.sfull { width: 100%; }
.s85 { width: 85px; }
.s90 { width: 90px; }
.s100 { width: 100px; }
.s120 { width: 120px; }
.s350 { width: 350px; }
.hleft { text-align: left; }
